@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Alliance 1';
  src: url('/font/alliance_1.otf') format('opentype');
}

@font-face {
  font-family: 'Alliance 2';
  src: url('/font/alliance_2.otf') format('opentype');
}

@font-face {
  font-family: 'Alliance 2 bold';
  src: url('/font/alliance_2_bold.otf') format('opentype');
}

@font-face {
  font-family: 'Alliance 2 semibold';
  src: url('/font/alliance_2_semibold.otf') format('opentype');
}


:root {
    --background-start-rgb: 60, 235, 172;
    --background-end-rgb: 60, 235, 172;
    scroll-behavior: smooth;
  }


body {
  color: black;
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Alliance 2 bold';
  font-size: medium;
}

h1{
  font-size: 2.5rem;
  line-height: 3rem;
}

h2{
  font-size: 2rem;
}

h3{
  font-size: 1.75rem;
}

p{
  font-family: 'Alliance 1';
  font-weight: medium;
  font-size: 1rem;
}

span{
  font-family: 'Alliance 2 semibold';
  font-size: 1rem;
}

a {
  font-family: 'Alliance 1';
  font-weight: bolder;
  font-size: 1rem;
  color: #1C1CFF;
  text-decoration: none;
  background: linear-gradient(0deg, #1C1CFF, #1C1CFF) no-repeat right bottom / 0 var(--bg-h);
  transition: background-size 350ms;
  padding-bottom: 3px;
  --bg-h: 2.5px; 
}

a:where(:hover, :focus-visible) {
  background-size: 100% var(--bg-h);
  background-position-x: left;
}