.container {
    display: grid;
    grid-template-areas:
      'header empty desc'
      'about about school'
      'about about work';
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: auto 1fr auto;
    background-color: white;
    border: 3px solid black;
    width: 75vw;
    margin-top: 3em;
    z-index: 1;
  }
  
.header, .about, .school, .work, .desc {
    padding: 2em;
    background-color: white;
  }

.empty{
  grid-area: empty;
  border: 1px solid black;
  border-right: none;
  border-left: none;
}

.desc {
  grid-area: desc;
  border: 1px solid black;
  border-left: none;
  }

.header {
    grid-area: header;
    border: 1px solid black;
    border-right: none;
  }

.about {
    grid-area: about;
    border: 1px solid black;
  }


.school {
    grid-area: school;
    border: 1px solid black;
  }

.work {
    grid-area: work;
    border: 1px solid black;
    }

@media (max-width: 800px) {
      .container {
        grid-template-areas:
          'header header header'
          'desc desc desc'
          'about about about'
          'school school school'
          'work work work';
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto auto;
        width: 90vw;
       }
  
      .desc {
        border: 1px solid black;
        border-top: none;
        padding: 2em;
        }

      .header {
          border: 1px solid black;
          border-bottom: none;
        }
      
  }


.download {
    display: inline-grid;
    grid-template-columns: auto auto;
    grid-template-areas:
      'myIconifyStyles text'; 
    grid-gap: 5px; 
    align-items: center;
    font-family: 'Alliance 1';
    font-weight: bolder;
    font-size: 1rem;
    color: #1C1CFF;
    text-decoration: none;
    background: linear-gradient(0deg, #1C1CFF, #1C1CFF) no-repeat right bottom / 0 var(--bg-h);
    transition: background-size 350ms;
    padding-bottom: 2.5px;
    --bg-h: 2.5px; 
  }


.myIconifyStyles{
  grid-area: myIconifyStyles;
  margin-top: 2px;
}

.text {
  grid-area: text;
  overflow-x: hidden;
  white-space: nowrap;
  display: inline; 
}


.download:where(:hover, :focus-visible) {
    background-size: 100% var(--bg-h);
    background-position-x: left;
  }


.socials{
  display: flex;
  justify-content: start;
  margin-top: 1em;
}


.socials .socialItem{
  margin: 0 0.75em;
  font-size: x-large;
}

.socials .socialItem:first-child {
  margin-left: 0;
}
