.container {
    display: grid;
    grid-template-areas:
      'header desc desc'
      'about about school'
      'about about work';
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: auto 1fr auto;
    background-color: white;
    border: 3px solid black;
    width: 75vw;
    margin-top: 3em;
    z-index: 1;
  }
  
.header, .about, .school, .work, .desc {
    padding: 2em;
    background-color: white;
  }

.desc {
  grid-area: desc;
  border: 1px solid black;
  border-left: none;
  }

.header {
    grid-area: header;
    border: 1px solid black;
    border-right: none;
  }

.about {
    grid-area: about;
    border: 1px solid black;
  }


.school {
    grid-area: school;
    border: 1px solid black;
  }

.work {
    grid-area: work;
    border: 1px solid black;
    }

@media (max-width: 700px) {
      .container {
        grid-template-areas:
          'header header header'
          'desc desc desc'
          'about about about'
          'school school school'
          'work work work';
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto auto;
        width: 90vw;
       }
  
      .desc {
        border: 1px solid black;
        border-top: none;
        padding: 2em;
        }

      .header {
          border: 1px solid black;
          border-bottom: none;
        }
  }


.download {
    font-family: 'Alliance 1';
    display: flex;
    font-weight: bolder;
    font-size: 1rem;
    color: #1C1CFF;
    text-decoration: none;
    background: linear-gradient(0deg, #1C1CFF, #1C1CFF) no-repeat right bottom / 0 var(--bg-h);
    transition: background-size 350ms;
    --bg-h: 2.5px; 
  }
  
.download:where(:hover, :focus-visible) {
    background-size: 100% var(--bg-h);
    background-position-x: left;
  }